@charset "utf-8";
/* CSS Document */
body, html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-color: #6d6d6d;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #f3f3f3;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
p {
  font-size: 16px;
}
ul, li {
	margin: 0;
	padding: 0;
}
a {
  color: #ff9b28;
	text-decoration: none;
}
a:hover, a:focus {
	color: #f18200;
	text-decoration: underline;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: inline-block;
	width: 100%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-weight: bold;
  text-align: center;
}
header h1 {
  padding-left: 0.833em;
  padding-right: 0.833em;
}
.maincontent {
	position: relative;
	/* top: 75px; */
	display: flex;
	flex-wrap: wrap;
  background-color: #6d6d6d;
  height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.footer {
	position: fixed;
	bottom: 0;
  background-color: #444444;
  color: #ffffff;
  letter-spacing: 0.125em;
	text-transform: uppercase;
  text-align: center;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	width: 100%;
	z-index: 1000;
}
.footer p {
  color: #ffffff;
  padding-left: 0.833em;
  padding-right: 0.833em;
}
/* ====================== Navigation ====================== */
nav {
	background-color: #444444;
  width: 100%;
  height: auto;
	margin: auto;
  text-align: center;
}
nav a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
#breadcrumb ul {
	display: inline-block;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Display list items side by side */
#breadcrumb li {
  display: inline-block;
  color: #fff;
  letter-spacing: 0.05em;
	padding: 0;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: #f18200;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
	color: #fff;
  text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #f18200;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
	width: 100%;
}
#map {
  border-top: 5px solid #6d6d6d;
  height: 500px;
  width: 100%;
  background-color: #ccc;
}
#map-control {
  position: fixed;
  left: -150%;
}
/* ====================== Restaurant Filtering ====================== */
#filter {
  background-color: #6d6d6d;
  max-height: 500px;
  margin: auto;
  height: auto;
}
.filter-options {
  width: 100%;
	margin-left: 0;
}
.filter-options h2 {
  color: #fff;
  font-weight: bold;
  margin: 20px 15px 0px 15px;
}
.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 16px;
  height: 50px;
  letter-spacing: 0.2;
  margin: 20px 15px 15px 15px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant User Options ====================== */
#star24 i {
  font-size: 24px;
}
#star36 i {
  font-size: 36px;
}
#star24 i:hover, i:focus {
  color: #f9e000;
}
button {
  border: none;
  color: #efd300;
  background-color: #f3f3f3;
  padding: 0;
}
li {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  margin-bottom: 0px;
  border: none;
}
#heart24 i {
  font-size: 24px;
  color: #864800;
}
#heart36 i {
  font-size: 36px;
  color: #864800;
}
.restaurant-title-info #heart24 i:hover, i:focus {
  color: #f18200;
}
.restaurant-title-info #heart36 i:hover, i:focus {
  color: #f18200;
}
.restaurant-description #heart36 {
  flex: 1;
  margin-right: 20px;
}
.write-review-link {
  line-height: normal;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #864800;
  flex: 1;
}
.restaurant-user-options{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.restaurant-description .restaurant-user-options{
  justify-content: space-between;
}
.restaurant-description .write-review-link {
  margin-left: 20px;
  margin-bottom: 0px;
  flex: 1;
}
.restaurant-user-options .write-review-link {
  margin-left: 20px;
  margin-bottom: 0px;
  flex: 1;
}
#reviews-container .reviews-header {
  margin-left: 0px;
  margin-bottom: 20px;
}
.write-review-link a:hover, a:focus {
  color: #f18200;
  text-decoration: underline;
}

/* ====================== Restaurant Listing ====================== */
#restaurants{
  margin-bottom: 65px;
}
#restaurants-list ul {
  background-color: #6d6d6d;
  list-style: none none none;
  margin: 0;
	padding: 0;
}
#restaurants-list li {
	display: flex;
	flex-wrap: wrap;
  height: auto;
  background-color: #6d6d6d;
  border-top: 5px solid #6d6d6d;
	margin: 0;
	padding: 0;
	width: 100%;
}
.restaurant-img {
  width: 100%;
}
.restaurant-img-holder {
  height: 100%;
  line-height: 0;
	margin: 0;
  width: 50%;
}
.restaurant-description {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 50%;
  margin: 0;
  padding: 0;
}
#restaurants-list h2 {
  color: #864800;
  flex: 1;
  font-family: Arial,sans-sesrif;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin: 20px 0px 0px 20px;
  text-transform: uppercase;
}
.restaurant-description p {
  flex: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
}
#restaurant-neighborhood {
  margin: 20px 10px 0px 20px;
}
#restaurant-list-address {
  margin: 20px 10px 15px 20px;
  flex: 4;
}
#more-details {
  flex: 1;
  background-color: #fcdbb5;
  width: calc(200%-40px);
  margin: 0;
  position: bottom;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #f18200;
  border-width: 8px;
  border-style: double;
  border-left: none;
  border-right: none;
  margin: 0;
  padding: 20px 20px 20px 20px;
}
#more-details a {
  color: #252832;
  margin: 0;
  padding: 20px 0px 20px 0px;
}
#more-details:hover {
  color: #fff;
  text-decoration: underline;
  border-color: #fff;
  background-color: #f18200;
}
#more-details:hover a {
  color: #fff;
}
/* ====================== Restaurant Details ====================== */
.inside h1{
	margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  padding-left: 0.833em;
  padding-right: 0.833em;
}
.inside .maincontent {
  background-color: #f3f3f3;
}
.inside #map-container {
	width: 100%;
  margin-top: 60px;
}
.inside #map-control {
  position: fixed;
  left: -150%;
}
.inside #map {
  background-color: #ccc;
  height: 500px;
  width: 100%;
  border: none;
}
#restaurant-container {
  line-height: 0;
}
#restaurant-name {
  display: block;
  color: #864800;
  font-family: Arial,sans-serif;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin: 15px 0 5px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
  height: 100%;
  line-height: 0;
}
#restaurant-address {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 30px 0px 0px 0px;
}
#restaurant-hours {
  margin: 20px 0px 0px 0px;
  float: left;
}
#restaurant-cuisine {
  font-size: 16px;
  background-color: #333;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
	width: 100%;
}
#restaurant-container, #reviews-container {
	display: block;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 40px 30px 40px;
  margin: 0;
	width: 90%;
  float: right;
  margin-right: 0px;
  padding-bottom: 80px;
}
#restaurant-hours td {
  color: #666;
}
#reviews-container h3 {
  color: #864800;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-bottom: 1pt;
}
#reviewer-name {
  margin-left: 20px;
  margin-top: 20px
}
#reviews-list ul{
	width: 100%;
	display: inline-block;
  margin: 0;
}
#reviews-list li {
  display: block;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0px 0px 30px 0px;
  padding: 20px 20px 20px 20px;
}
#reviews-list li p {
  font-size: 16px;
	width: 100%;
}
#restaurant-star-ratings {
  margin-left: 0px;
}
#restaurant-star-ratings button {
  border: none;
  color: #efd300;
  background-color: #fff;
  padding: 0;
}
#reviews-list #restaurant-star-list ul {
  display: inline-block;
  list-style: none;
}
#reviews-list #restaurant-star-list li {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  margin-bottom: 0px;
  border: none;
}

/* ====================== Create Review ====================== */
.review h1{
	margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  padding-left: 0.833em;
  padding-right: 0.833em;
}
.review h3 {
  display: block;
  float: left;
  color: #864800 !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 15px;
  padding-top: 15px;
  padding-left: 20px !important;
  width: 100%;
}
.review .maincontent {
  display: block;
  /* padding-left: 40px; */
  color: #333;
  background-color: #6d6d6d;
	/* top: 90px; */
}
.review-container {
  background-color: #f3f3f3;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 90%;
  max-width: 800px;
}
.review-container p {
  font-size: 16px;
}
#number-rating{
  position: fixed;
  left: -300px;
}
textarea {
  display: block;
  color: #333;
  background-color: #ffffff;
  padding: 20px;
  width: 75%;
  max-width: 780px;
  max-height: 650px;
  margin: 20px;
}
#review-star-list ul {
  display: inline-block;
  list-style: none;
}
#review-star-ratings {
  margin-left: 20px;
}
#reviews-button{
  display: inline-block;
}
.reviews-button {
  font-size: 16px;
  display: inline-block;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  float: left;
  color: #ffffff;
  background-color: #864800;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.5;
}
.review-button {
  font-size: 16px;
  display: inline-block;
  padding-left: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
  float: left;
  color: #ffffff;
  background-color: #864800;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}
.review-button:hover, .review-button:focus {
  color: #fcdbb5;
  text-decoration: underline;
}
.reviews-button:hover, .review-button:focus {
  color: #fcdbb5;
  text-decoration: underline;
}
.post-review a:hover, a:focus {
	color: #fcdbb5;
	text-decoration: underline;
}

/* ====================== Responsive ====================== */
/* @media screen and (max-width: 469px) {
  .maincontent {
  	top: 75px;
  }
  .inside .maincontent {
    top: 60px;
  }
} */
@media screen and (max-width: 360px){
  .review .maincontent {
    top: 120px;
  }
  .maincontent {
    top: 90px;
  }
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 361px) and (max-width: 469px){
  .review .maincontent {
    top: 90px;
  }
  .inside .maincontent {
    top: 25px;
  }
  .maincontent {
    top: 50px;
  }
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 450px) and (max-width: 830px) {
  .review .maincontent {
    top: 90px;
  }
}
@media screen and (min-width: 670px) {
  .filter-options h2 {
    display: inline-block;
  }
}
@media screen and (min-width: 470px) and (max-width: 800px){
  .review .maincontent {
    top: 100px;
  }
  .maincontent {
  	top: 75px;
  }
  .inside .maincontent {
    top: 30px;
  }
}
@media screen and (max-width: 749px) {
  .maincontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column wrap;
  }
  .restaurant-img-holder {
    height: 100%;
    line-height: 0;
    margin: 0;
    width: 100%;
    order: 1;
  }
  .restaurant-description {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    order: 2;
  }
}
@media screen and (max-width: 830px) {
  h2 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 831px) {
  .maincontent {
    top: 100px;
  }
  h1 {
    font-size: 2.0em;
  }
}
@media screen and (min-width: 954px) {
  .maincontent {
  	top: 100px;
  }
}
@media screen and (min-width: 1350px) {
  .maincontent {
  	flex-direction: column wrap;
  }
  #map-container {
		width: 50%;
	}
  #map {
    height: 100%;
  }
  #restaurants {
    width: 50%;
    margin-bottom: 65px;
  }
  #restaurants-list li {
    flex-direction: row;
  }
}
@media screen and (min-width: 800px) and (max-width: 2400px) {
  .inside .maincontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row wrap;
    top: 90px;
  }
	#restaurant-container {
		padding-left: 80px;
		width: 40%;
	}
	.restaurant-title-info {
		display: inline-block;
	}
	.restaurant-details {
		display: inline-block;
	}
	.inside #map-container {
		margin-left: 40px;
		width: 40%;
    order: -1;
	}
	.inside #map {
	  background-color: #ccc;
	  height: 100%;
	}
	#reviews-container {
		width: 100%;
	}
}
@media screen and (min-width: 831px) and (max-width: 2400px) {
  .review .maincontent {
    top: 114px;
  }
}
