@charset "utf-8";
/* CSS Document */
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
p {
  font-size: 16px;
}
ul, li {
	margin: 0;
	padding: 0;
}
a {
  color: #ff9b28;
	text-decoration: none;
}
header a:hover, a:focus {
	color: #f18200;
	text-decoration: underline;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
figcaption, figure, footer, header, menu, nav, section {
	display: inline-block;
	width: 100%;
}
#off-line-text {
  font-size: 20px;
  color: #ff0000;
  font-weight: bold;
}
#off-line-li {
  border: medium solid #ff0000;
}
/* ====================== Navigation ====================== */
nav a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: #f18200;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
	color: #fff;
  text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #f18200;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 500px;
  width: 100%;
}
/* ====================== Restaurant User Options ====================== */
button {
  border: none;
  color: #864800;
  background-color: #f3f3f3;
  padding: 0;
  font-size: 30px;
}
li {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  margin-bottom: 0px;
  border: none;
}
#heart36 p {
  font-size: 48px;
  color: #864800;
  margin:20px 10px 20px 0px;
  padding: 0px;
}
#heart36 p:hover, p:focus {
  color: #f18200;
  text-decoration: none;
}
#heart36 a:hover, a:focus {
  color: #f18200;
  text-decoration: none;
}
.restaurant-description #heart36 {
  flex: 1;
  margin-right: 20px;
}
#favorite {
  margin-right: 10px;
}
.write-review-link {
  line-height: normal;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #864800;
  flex: 1;
}
#restaurant-hide-map {
  flex: 1;
}
#restaurant-hide-map p {
  line-height: normal;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #864800;
  margin: 20px 0px 20px 20px;
}
.restaurant-user-options{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.restaurant-description {
  justify-content: space-between;
}
.restaurant-user-options .write-review-link {
  margin-left: 0px;

  margin-bottom: 0px;
  flex: 1;
}
#reviews-container .reviews-header {
  margin-left: 0px;
  margin-bottom: 20px;
}
#reviews-container .write-review-link {
  margin-left: 20px;
}
.write-review-link a:hover, a:focus {
  color: #f18200;
  text-decoration: underline;
}
#restaurant-hide-map p:hover, p:focus {
  color: #f18200;
  text-decoration: underline;
}
#reviews-button{
  display: inline-block;
}
.reviews-button {
  font-size: 16px;
  display: inline-block;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  float: left;
  color: #ffffff;
  background-color: #864800;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.5;
}
.reviews-button:hover, .review-button:focus {
  color: #fcdbb5;
  text-decoration: underline;
}
/* ====================== Restaurant Details ====================== */
.inside #map-container {
	width: 100%;
}
.inside #map {
  height: 500px;
  width: 100%;
}
#restaurant-container, #reviews-container {
	display: block;
	width: 100%;
}
#restaurant-name {
  margin: 15px 0 5px 20px;
}
#reviewer-name {
  margin-left: 20px;
  margin-top: 20px
}
#reviews-title {
  margin-top: 20px;
  margin-left: 20px;
}
#reviews-list li {
  display: block;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}
#reviews-list li p {
  font-size: 16px;
	width: 100%;
}
#restaurant-star-ratings {
  margin: 0;
}
#restaurant-star-ratings button {
  border: none;
  color: #864800;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
#reviews-list #restaurant-star-list ul {
  display: inline-block;
  list-style: none;
}
#reviews-list #restaurant-star-list li {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  border: none;
  margin: 0;
}
.leaflet-control-attribution a {
  color: black;
}
