@charset "utf-8";
/* CSS Document */
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
p {
  font-size: 16px;
}
ul, li {
	margin: 0;
	padding: 0;
}
a {
  color: #ff9b28;
	text-decoration: none;
}
header a:hover, a:focus {
	color: #f18200;
	text-decoration: underline;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}
figcaption, figure, footer, header, nav, section {
	display: inline-block;
	width: 100%;
}
/* ====================== Navigation ====================== */
nav a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
/* ====================== Map ====================== */
#map {
  height: 500px;
  width: 100%;
  border-top:5px solid #6d6d6d;
}
/* ====================== Restaurant User Options ====================== */
#star24 i {
  font-size: 24px;
}
#star24 i:hover, i:focus {
  color: #f18200;
}
button {
  border: none;
  color: #864800;
  background-color: #f3f3f3;
  padding: 0;
  font-size: 30px;
}
li {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  margin-bottom: 0px;
  border: none;
}
#heart36 p {
  font-size: 48px;
  font-weight: normal;
  color: #864800;
  margin: 0;
  padding-bottom: 20px;
  height: 48px;
}
#heart36 a {
  margin: 0;
  padding: 0;
  line-height: normal;
}
#heart36 p:hover, p:focus {
  color: #f18200;
  text-decoration: none;
}
#heart36 a:hover, a:focus {
  color: #f18200;
  text-decoration: none;
}
.restaurant-description #heart36 {
  flex: 1;
  margin-right: 20px;
}
#favorite {
  margin: 0px 20px 0px 0px;
}
.write-review-link {
  line-height: normal;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #864800;
  flex: 1;
  padding-left: 20px;
}
#restaurants-hide-map {
  background-color: #6d6d6d;
  display: block;
}
#restaurants-hide-map p {
  line-height: normal;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #fff;
  margin: 10px 10px 10px 20px;
}
.restaurant-user-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 4em;
}
.restaurant-user-options a {
  margin: 0;
}
.restaurant-description {
  justify-content: space-between;
}
.restaurant-user-options .write-review-link {
  margin-left: 0px;
  margin-bottom: 0px;
  flex: 1;
}
.write-review-link a:hover, a:focus {
  color: #f18200;
  text-decoration: underline;
}
#restaurants-hide-map p:hover, p:focus {
  color: #f18200;
  text-decoration: underline;
}

/* ====================== Restaurant Listing ====================== */
#restaurants{
  margin-bottom: 80px;
}
#restaurants-list li {
	display: flex;
	flex-wrap: wrap;
  height: auto;
  background-color: #6d6d6d;
  border-top: 5px solid #6d6d6d;
	margin: 0;
	padding: 0;
	width: 100%;
}
#restaurant-img {
	width: 100%;
  height: auto;
  line-height: 0;
}
.restaurant-img-holder {
  height: auto;
  line-height: 0;
	margin: 0;
  padding: 0;
  width: 50%;
}
.restaurant-description {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  margin: 0;
  padding: 0;
}
#restaurants-list h2 {
  color: #864800;
  flex: 1;
  font-family: Arial,sans-sesrif;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin: 20px 0px 0px 20px;
  text-transform: uppercase;
}
.restaurant-description p {
  flex: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
}
#restaurant-neighborhood {
  margin: 20px 10px 0px 20px;
}
#restaurant-list-address {
  margin: 20px 10px 15px 20px;
  flex: 4;
}
#more-details {
  flex: 1;
  background-color: #fcdbb5;
  width: calc(200%-40px);
  margin: 0;
  position: bottom;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #f18200;
  border-width: 8px;
  border-style: double;
  border-left: none;
  border-right: none;
  margin: 0;
  padding: 20px 20px 20px 20px;
}
#more-details a {
  color: #252832;
  margin: 0;
  padding: 20px 0px 20px 0px;
}
#more-details:hover {
  color: #fff;
  text-decoration: underline;
  border-color: #fff;
  background-color: #f18200;
}
#more-details:hover a {
  color: #fff;
}
.leaflet-control-attribution a {
  color: black;
}
